body{
    padding: 10px;
}

.titulo_principal{
    padding: 10px;
    color: red;
}

.texto_centro{
    display: flex;
    justify-content: center;
}

.imagem_1{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px
}

.imagem_2{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}